.grid
    max-width: 1600px
    margin: 0 auto
    &:after
        content: ''
        display: block
        clear: both
    &-item 
        width: 160px
        height: 120px
        float: left
        background: #ffffff
        border: 1px solid #C8A631
        border-radius: 5px
        margin-bottom: 10px
        position: relative
        
        &--width
            &1
                width: 160px
            &2
                width: 236px
            &3
                width: 310px
            &4
                width: 480px
            &5
                width: 640px
        &--height
            &1
                height: 120px
            &2
                height: 200px
            &3
                height: 260px
            &4
                height: 306px
            &5
                height: 360px
        &--img
            width: 100%
            height: 100%
            object-fit: cover
        &--cover
            display: none
            background-color: #181202
            opacity: .5
            position: absolute
            width: 100%
            top: 0
            bottom: 0
        &--icon
            display: none 
        &--save
            background-color: red
            color: white
            padding: 12px 20px
            border-radius : 30px
            position: absolute
            top: 10px
            right: 10px
            cursor: pointer
        &--open
            position: absolute
            left: 10px
            bottom: 10px
        &--share
            position: absolute
            right: 10px
            bottom: 10px
    
.grid-item:hover > .grid-item--cover   
    display: block
    
.grid-item:hover > .grid-item--icon
    transition-duration: 0.5
    display: block

.grid-item:hover > .grid-item--img
    object-fit: contain