.grid2
    display: flex
    flex-wrap: wrap
.grid
    &:after
        content: ''
        display: block
        clear: both
    &-item2
        width: 160px
        height: 120px
        float: left
        border: 1px solid #C8A631
        border-radius: 5px
        margin-bottom: 10px
        position: relative
        cursor: zoom-in
        margin-right: 10px
    &-item 
        width: 160px
        height: 120px
        float: left
        border: 1px solid #C8A631
        border-radius: 5px
        margin-bottom: 10px
        position: relative
        cursor: zoom-in
        &--height
            &1
                height: 120px
            &2
                height: 200px
            &3
                height: 260px
            &4
                height: 306px
            &5
                height: 360px
        &--img
            width: 100%
            height: 100%
            object-fit: cover
        &--cover
            display: none
            background-color: $black
            opacity: .5
            position: absolute
            width: 100%
            top: 0
            bottom: 0
        &--icon
            display: none 
            img
                height: 20px
        &--download
            background-color: $gyzyl
            color: white
            padding: 12px 20px
            border-radius : 30px
            position: absolute
            top: 10px
            right: 10px
            cursor: pointer
        &--share
            position: absolute
            left: 10px
            bottom: 10px
        &--saved
            position: absolute
            right: 10px
            bottom: 10px
        &--like
            //display: none
.like
    &__count 
        display: none
        position: absolute
        opacity: 0
        left: 100%
        top: 14%
    &__img
        width: 30px
        height: 30px
        fill: red
// Hover effektler
.grid-item:hover > .grid-item--cover   
    display: block


.grid-item:hover > .grid-item--like   
    display: flex
    align-items: center
    position: absolute
    left: 47%
    top: 47%
    color: white
    img
        height: 30px
        margin-right: 8px
    span
        display: block
        opacity: 1
    
.grid-item:hover > .grid-item--icon
    transition-duration: 0.5
    display: block

.grid-item:hover > .grid-item--img
    object-fit: contain

// Hover effektler Profil sahypaň Halanlarym tab-y üçin

.grid-item2:hover > .grid-item--cover   
    display: block


.grid-item2:hover > .grid-item--like   
    display: flex
    align-items: center
    position: absolute
    left: 47%
    top: 47%
    color: white
    img
        height: 30px
        margin-right: 8px
    span
        display: block
        opacity: 1
    
.grid-item2:hover > .grid-item--icon
    transition-duration: 0.5
    display: block

.grid-item2:hover > .grid-item--img
    object-fit: contain

