.container
    max-width: 1600px
    margin: auto
.grid-item--width 
    width: 310px
@media (max-width: 1600px)
    .container
        max-width: 1280px
    .header__container
        grid-template-columns:  27% 60% 10%

@media (max-width: 1292px)
    .container
        max-width: 960px
    .header__container
        grid-template-columns:  36% 48% 10%
    .search
        &__tags
            grid-template-columns: 1fr 1fr
        &__modal
            top: 900%

    .details
        &__dialog
            width: 90%
        &__img
            width: 100%
    .modal__dialog
        width: 90%
    .form
        &__left
            margin-right: 20px
        &__right
            padding: 20px
        &__img
            width: 450px
    .select-mata
        display: flex
        align-items: center
        padding: 8px 15px
    #mataselect
        margin-left: 10px


@media (max-width: 992px)
    .container
        max-width: 640px
    .header__mid
        display: none
    .header__container
        grid-template-columns:  66% 30%
    .search__modal
        top: 850%
        transform: translate(-50%, -27%)
    .details
        &__left
            margin-right: 20px
        &__right
            padding: 20px
        &__back
            display: none
    .acc__followers
        position: absolute
        top: 28%
        left: 58%
    .form
        &__img
            width: 350px
        &__left__items
            left: 7%        
        &__left
            margin-right: 10px
        &__right
            padding: 10px
    .modal__input
        margin-top: 30px
    .select-mata
        //flex-direction: column
        padding: 10px 15px
    .selected-option
        margin-right: 10px

@media (max-width: 658px)
    .container
        max-width: 480px
    .grid-item--width 
        width: 155px 
    .grid-item
        margin-bottom: 5px
    .grid-item2
        width: 100%
    .home
        display: none
    .details
        &__acc
            flex-direction: column
        &__left
            margin-right: 10px
        &__right
            padding: 10px 12px
        &__dwnld
            padding: 10px 20px
    .acc
        &__left
            margin-bottom: 10px
        &__follow
            padding: 10px
            text-align: center
        &__followers
            position: inherit
    .form
        &__img
            width: 100%
            height: 250px
        &__left
            &__items
                left: 31%
                top: 13%
                max-width: 250px
                text-align: center
    .modal
        &__form
            flex-direction: column
        &__send
            flex-direction: column
            align-items: center
        &__button
            margin-bottom: 10px
            margin-top: 60px

@media (max-width: 490px)
    .container
        max-width: 320px
    
    .header
        width: 95%
        margin: auto
        &__container
            grid-template-columns:  59% 36%
    .details
        &__right
            display: none
        &__left
            margin: 0
    .edit
        width: 95%
        margin: auto
        &__title
            text-align: center
            font-size: 1.5em
        &__subtitle
            text-align: center
    .form__left__items
        left: 18%


@media (max-width: 335px)
    .container
        max-width: 310px
    .grid-item--width 
        width: 310px
    .form__left__items
        left: 6%

// media ready : index.html details.html profile.html signup.html edit-acc.html
// media not ready : 