.container
    max-width: 1600px
    margin: auto
.grid-item--width 
    width: 310px
@media (max-width: 1600px)
    .container
        max-width: 1280px
    .header__container
        grid-template-columns:  27% 60% 10%

@media (max-width: 1292px)
    .container
        max-width: 960px
    .header__container
        grid-template-columns:  36% 48% 10%
    .search__tags
        grid-template-columns: 1fr 1fr
    .details
        &__dialog
            width: 90%
        &__img
            width: 100%

@media (max-width: 992px)
    .container
        max-width: 640px
    .header__mid
        display: none
    .header__container
        grid-template-columns:  66% 30%
    .search__modal
        top: 850%
        transform: translate(-50%, -27%)

@media (max-width: 658px)
    .container
        max-width: 480px
    .grid-item--width 
        width: 155px 
    .grid-item
        margin-bottom: 5px
    .home
        display: none

@media (max-width: 490px)
    .container
        max-width: 320px
    
    .header__container
        grid-template-columns:  59% 36%

@media (max-width: 335px)
    .container
        max-width: 310px
    .grid-item--width 
        width: 310px